<html>
  <head>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
	<table class="mdl-data-table mdl-js-data-table" style="margin: auto;" >
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Key</th>
	      <th>Value</th>
	      <th>IOS</th>
	      <th>Andriod</th>
	      <th>Verified</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
		  <% list.forEach(function(val){ %>
		  		<tr>
		  		<form action="demo_form.asp" method="get">
			  		<td class="mdl-data-table__cell--non-numeric"><%= val.getKey(); %></td>
				    <td><input type="text" name=<%= val.getKey(); %> value="<%= val.getValue(); %>"></td>
				    <td><input type="checkbox" name="vehicle" value="Bike"></td>
				    <td><input type="checkbox" name="vehicle" value="Bike"></td>
				    <td><input type="checkbox" name="vehicle" value="Bike"></td>
				    <td><button type="submit" value="Submit"> Update </button></td>
			    </form>
				</tr>
		   <% }); %>
	  </tbody>
	</table>
	<div style="width: 500px; margin: 0 auto;">
		<form style="align-content: center; text-align: center;">
			<button type="button" value="Submit"> IOS </button>
			<button type="button" value="Submit"> Andriod </button>
			<button type="button" value="Submit"> Add </button>
		</form>
	</div>
  </body>
</html>

<!-- <td><input type="submit" value="Submit"></td> 
-->